/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Josefin+Sans:wght@400;600&family=Nunito:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:200");


/* MEDIA QUERY */

/* (DESKTOP) = 1920px */
@media screen and (max-width: 1920px) {
  .nav-logo {
    width: 50px !important;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
  .carousel-title {
    font-size: 80px !important;
    margin-bottom: 50px !important;
  }
  .carousel-intestation {
    font-size: 18px !important;
  }
  .container-music {
    top: 91% !important;
  }
}

/* (PORTATILI) = 1500px */
@media screen and (max-width: 1500px) {

  .container-music{
    top: 90% !important;
    left: 15% !important;
  }

  .nav-link {
    font-size: 10px;
  }

}

/* (MOBILE) = 480px */
@media only screen and (max-width: 767px) {
  .navbar {
    background-color: white !important;
    background: #fff !important;
  }
  .navbar-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-decoration: none !important;
  }

  .navbar-collapse {
    padding: 0px !important;
    border-radius: 10px !important;
  }

  #nav {
    background-color: rgb(0, 0, 0) !important;
  }

  .nav-link {
    letter-spacing: 1px !important;
  }

  .carousel-title {
    font-size: 50px !important;
    margin-bottom: 30px !important;
  }
  .carousel-intestation {
    font-size: 16px !important;
  }
  .carousel-text-container {
    top: 30% !important;
    left: 5% !important;
    width: 90% !important;
  }
  .container-music {
    top: 90% !important;
    left: 0% !important;
  }
  .carousel-item {
    height: 100vh !important;
  }
  .music-author {
    font-size: 10px !important;
  }
  .music-title {
    font-size: 18px !important;
  }

  .music-cover {
    width: 100% !important;
  }

  .cover-album {
    width: 80% !important;
  }
  .container-album {
    width: 100% !important;
  }

  td {
    padding: 150px !important;
  }

  .container-countdown {
    top: 10% !important;
  }
  .number {
    font-size: 50px !important;
    border-right: none !important;
  }

  .last-number {
    font-size: 50px !important;
  }

  .label {
    font-size: 20px !important;
  }

  /* cambio file immagine in vista mobile */

  .carousel-item:nth-child(1) img {
    content: url(https://e1.pxfuel.com/desktop-wallpaper/1007/490/desktop-wallpaper-70-music-iphone-for-music-manias-music-iphone.jpg) !important;
  }
}


/* CSS RULES */

body {
  background-color: #fffffff3 !important;
  font-family: "Exo 2", sans-serif !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/* NAVBAR */

.navbar {
  background: transparent !important;
  background-color: rgba(0, 0, 0, 0.697) !important;
  padding: 15px 25% 15px 25%;
}

.nav-logo {
  width: 70px;
}

.navbar-title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  text-decoration: none !important;
}

.nav-link {
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600;
}

.fa-bars {
  color: #fff !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  outline: none !important;
}

/* CAROUSEL */

.carousel {
  background-color: black !important;
}

.carousel-text-container {
  top: 30%;
  left: 23%;
}
.carousel-title {
  font-size: 120px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.carousel-intestation {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.carousel-img {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  box-shadow: 0 0 0 transparent;
  filter: blur(5px) brightness(0.5) contrast(1.2) saturate(1.2);
}
.music-author {
  font-size: 18px;
}
.music-title {
  font-size: 24px;
}

/* Music Player */
.container-music {
  top: 94%;
  left: 25%;
}

.vertical-hr {
  border-right: 1px solid #ffffff;
  height: 90px;
}

.control-player-icon {
  font-size: 25px;
  color: #ffffff;
}

.music-cover {
  width: 100%;
}

/* Album Info Section */

.container-album {
  position: relative !important;
  overflow: hidden;
}

.container-album::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://shuffle.qodeinteractive.com/wp-content/uploads/2016/09/album-cover-image-7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(15px) brightness(0.5) saturate(1.2); /* Puoi regolare il valore di blur a tuo piacimento */
  transform: scale(1.1); /* Puoi regolare il valore di scale a tuo piacimento */
}

li {
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

hr {
  width: 100%;
  border: 1px solid #fff !important;
  margin-bottom: 20px;
}

td {
  background-color: transparent !important;
  color: #fff !important;
  padding: 2% !important;
  font-size: 18px;
}

#sec {
  font-weight: 100;
  font-size: 14px;
}

.cover-album {
  width: 60%;
  margin-top: 10%;
}

/* Playlist.css */
.jp-seek-bar {
  background: rgba(255, 255, 255, 0.2) 0 -202px repeat-x;
  width: 100%;
  height: 3px;
  cursor: pointer;
}

.jp-seek-bar .jp-play-bar {
  background-color: transparent; /* Colore trasparente quando non in riproduzione */
  height: 3px;
}

.jp-seek-bar.playing .jp-play-bar {
  background-color: white; /* Colore verde (success) durante la riproduzione */
  height: 3px;
  width: 0%;
}

/* Events */

#events h2 {
  color: #fff !important;
  font-size: 60px !important;
  font-weight: 600 !important;
}

.video-background {
  width: 100%;
  height: 900px;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1; /* Posiziona il video dietro altri elementi se presenti */
}

.video-event {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-item {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* COUNTDOWN */
.container-countdown {
  top: 30%;
}

.number {
  font-size: 100px;
  font-family: "Josefin Sans", sans-serif;
  border-right: 1px solid #adafb2;
  color: #ffffff;
}

.last-number {
  font-size: 100px;
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  border-right: none !important;
}

.label {
  color: #ffffff;
  font-size: 20px; /* Use the viewport width for responsive font size */
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Josefin Sans", sans-serif;
}

/* CARD -- DA VALUTARE */

.card {
  /* border: 6px solid black !important;
  border-radius: 15px !important; */
  border: none !important;
}



.card-text {
  font-size: 15px !important;
  font-weight: 100 !important;
}

.card-body {
  padding-bottom: 0px !important;
}

.video-logo {
  max-width: 150px !important;
}




/* CARD DISCOGRAFIA */

.card-discografia {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 500px;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 26px;
  background: #000;
}

.card-discografia *,
.card-discografia:before,
.card-discografia:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.card-discografia img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.card-discografia:before,
.card-discografia:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.card-discografia:before {
  width: 0;
  height: 1px;
}

.card-discografia:after {
  height: 0;
  width: 1px;
}

.card-discografia figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.card-discografia h3,
.card-discografia h4 {
  margin: 0;
  font-size: 1.3em;
  font-weight: normal;
  opacity: 0;
}

.card-discografia h4 {
  font-size: .6em;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 200;
  font-family: 'Montserrat', Arial, sans-serif;
}

.card-discografia a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card-discografia:hover img,
.card-discografia.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.card-discografia:hover:before,
.card-discografia.hover:before,
.card-discografia:hover:after,
.card-discografia.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.card-discografia:hover:before,
.card-discografia.hover:before {
  width: 40px;
}

.card-discografia:hover:after,
.card-discografia.hover:after {
  height: 40px;
}

.card-discografia:hover h3,
.card-discografia.hover h3,
.card-discografia:hover h4,
.card-discografia.hover h4 {
  opacity: 1;
}

.card-discografia:hover h3,
.card-discografia.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.card-discografia:hover h4,
.card-discografia.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


**
* CARD
**/

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 370px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


/**
* DATE
**/

.card__date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    background-color: coral;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 13px;
}

.card__date__day {
    font-size: 14px;
}

.card__date__month {
    text-transform: uppercase;
    font-size: 10px;
}


/**
* THUMB
**/

.card__thumb {
    height: 245px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card__thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .card__thumb {
    height: 130px;
}

.card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/** CARD NEWS **/

.card__body {
    position: relative;
    height: 185px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card:hover .card__body {
    height: 300px;
}

.card__category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: coral;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: coral;
}

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 56px;
    margin: 0;
    padding: 0;
    color: #666C74;
    line-height: 27px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card__footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9A2;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}

.icon+.icon {
    padding-left: 10px;
}